<ion-header mode="md" no-border class="bg-color">
  <ion-toolbar color="hojaD" mode="md">

    <ion-buttons slot="start">
      <ion-back-button  mode="md" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="text-center" text-capitalize>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>