<app-header titulo="Turismo"></app-header>

<ion-content class="bg-cont">
<br>
<img src="/assets/logo-viva-1.png">
<br><br>
<ion-card color="light">
    <!--San Marcos-->
    <ion-card-header color="hojaD">
      <ion-card-subtitle>Sitios turisticos</ion-card-subtitle>
      <ion-card-title>Jardin de San Marcos</ion-card-title>
    </ion-card-header>
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Jard%C3%ADn_San_Marcos_sur_Ags.jpg/275px-Jard%C3%ADn_San_Marcos_sur_Ags.jpg">

    <ion-card-content class="fondo-cont" color="light">
        El Jardín de San Marcos, se encuentra localizado en el corazón del Barrio de San Marcos. Es un espacio público, icono de la Ciudad de Aguascalientes, también de la famosa Feria Nacional de San Marcos. Alberga diversos tipos de especies de plantas y árboles. Cuenta con caminos por todo el jardín. En su centro está un kiosco, donde debajo de él se dan espectáculos con fuentes y luces multicolores. Algo que caracteriza al Jardín de San Marcos es su balaustrada hecha en cantera rosa, la cual rodea completamente el jardín, excepto por las famosas cuatro entradas que se encuentran en el centro de los cuatro lados del mismo.
    </ion-card-content>

    <ion-item color="hoja">
            <ion-icon color="danger" name="pin" slot="start"></ion-icon>
            <ion-label>Ubicacion</ion-label>
            <ion-button href="https://www.google.com/maps/place/Jard%C3%ADn+de+San+Marcos/@21.8795798,-102.305419,17z/data=!3m1!4b1!4m5!3m4!1s0x8429ee87b3826513:0x905df36bc879529d!8m2!3d21.8795798!4d-102.3032303"fill="outline" color="light" slot="end">Ir</ion-button>
    </ion-item>
</ion-card>
<br>
<ion-card color="light">
    <ion-card-header color="hojaD">
        <ion-card-subtitle>Sitios turisticos</ion-card-subtitle>
        <ion-card-title>Balneario Valladolid Aguascalientes</ion-card-title>
      </ion-card-header>
      
      <img src="https://cdn.mexicodestinos.com/lugares/balneario-valladolid-aguascalientes-galeria-min.jpg">
  
      <ion-card-content class="fondo-cont" color="azulD">
            Balneario Valladolid Aguascalientes mejor conocido como Parque Acuático Valladolid, aquí podrás disfrutar de un agradable momento en compañía de tu familia, amigos o pareja. Este sitio cuenta con albercas de aguas termales, toboganes, acuatubo transparente y juegos acuáticos para niños. Además ofrece servicio de restaurante, extensas áreas verdes y asadores para un día de campo; así como área de juegos infantiles, canchas de básquetbol, tirolesa y un lago artificial.    
      </ion-card-content>
  
      <ion-item color="hoja">
              <ion-icon color="danger" name="pin" slot="start"></ion-icon>
              <ion-label>Ubicacion</ion-label>
              <ion-button href="https://www.google.com/maps/place/Parque+Acuatico+Valladolid/@22.0311446,-102.317487,17z/data=!3m1!4b1!4m5!3m4!1s0x8429e44f81000013:0xd9327c5b4a3e816!8m2!3d22.0311446!4d-102.3152983"fill="outline" color="light" slot="end">Ir</ion-button>
      </ion-item>
  </ion-card>

</ion-content>
