<ion-header mode="md" no-border class="bg-color">
  <ion-toolbar color="hojaD" mode="md" padding>
    <img  slot="start" class="logo-bot" src="/assets/logo.png">
    <img slot="end" class="logo-uaa" src="/assets/logo_uaa_rojo.png">
  </ion-toolbar>
</ion-header>

<ion-content #content slot="fixed" padding no-border class="bg-inicio" >
  
  <ion-grid class="grid-padding">
    <ion-row no-padding>
      <ion-col no-padding size="12">
        <img no-margin src="/assets/congreso-logo.png">
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6" align-self-end>
        <ion-button expand="full" size="large" class="ion-button"  routerLink="/programa">
         <div>
           <ion-icon style="zoom: 4.0" name="calendar"></ion-icon><br>
           <ion-label>
             Programa
           </ion-label>
          </div> 
        </ion-button>
      </ion-col>

    <ion-col size="6">
      <ion-button expand="full" size="large" class="ion-button2" routerLink="/mapa">
        <div><ion-icon style="zoom: 4.0" name="map" ></ion-icon><br>
        <ion-label>Mapa</ion-label>
        </div>
      </ion-button>
      </ion-col>
    </ion-row>
      
    <ion-row >
      <ion-col size="12">
        <ion-button expand="full" size="large" class="ion-button" routerLink="/notes">
            <div><ion-icon style="zoom: 4.0" name="list-box" ></ion-icon><br>
              <ion-label>Notas</ion-label>
            </div>
            </ion-button>
      </ion-col>
    </ion-row>
   
    <!--<ion-row>
      <ion-col class="text-center" align-self: center>
        <ion-label class="text-color">
          Programa
        </ion-label>
      </ion-col>

      <ion-col class="text-center" align-self: center>
        <ion-label class="text-color">
          Mapa
        </ion-label>
      </ion-col>

      <ion-col class="text-center" align-self: center>
        <ion-label class="text-color">
          Notas
        </ion-label>
      </ion-col>
    </ion-row>
  -->

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" size="large" class="ion-button2" routerLink="/universidad">
          <div><ion-icon style="zoom: 4.0" name="school" ></ion-icon><br>
          <ion-label>UAA</ion-label>
          </div>
          </ion-button>
      </ion-col>

      <ion-col size="6">
          <ion-button expand="full" size="large" class="ion-button" routerLink="/turismo">
            <div><ion-icon  style="zoom: 4.0" name="train"></ion-icon><br>
            <ion-label>Turismo</ion-label>
            </div>
          </ion-button>
        </ion-col>
    </ion-row>

    <!--
    <ion-row>
        <ion-col class="text-center" align-self: center>
          <ion-label class="text-color">
            U A A
          </ion-label>
        </ion-col>

        <ion-col class="text-center" align-self: center>
          <ion-label class="text-color">
            Turismo
          </ion-label>
        </ion-col>
      </ion-row>
    -->


  </ion-grid>
</ion-content>

<!--<ion-footer>
    <ion-toolbar color="hoja" mode="md" padding>
      <ion-label>Hola mundo</ion-label>
    </ion-toolbar>
</ion-footer>-->
