.bg-inicio {
    --background: url('/assets/pattern.png') center;
    background-color: #fffdf8;
    background-position: center center;
 /* Background image doesn't tile */
 background-repeat: no-repeat;
  
 /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
 background-attachment: fixed;
 
 /* This is what makes the background image rescale based
    on the container's size */
 background-size: cover;
 
 /* Set a background color that will be displayed
    while the background image is loading */
 background-color: #464646;
}

.bg-color {
    --ion-text-color: #ffffff;
    --ion-background-color: url('/assets/flores.png') bottom ;
}


.ion-button {
    --background: #3f7c15;
    --color: #ffffff;
    height: 150px;
    opacity: 0.7;
    font-family: Agency FB;
}

.ion-button2 {
    --background: #6bbb00;
    --color: #ffffff;
    height: 150px;
    opacity: 0.7;
    font-family: Agency FB;
}

.text-center {
    text-align: center;
    font-family: Agency FB;
    font-size: 20px;
}

.h1 {
    text-align: center;
    font-family: Agency FB;
    font-size: 40px;
}

.grid-padding {
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 720px;
    --ion-grid-width-lg: 960px;
    --ion-grid-width-xl: 1140px;
}
.logo-titulo {

    width: 300px;
    height: 150px;
}
.logo-bot {
    width: 60px;
    height: 60px;
}
.logo-uaa {
    width: 150px;
    height: 70px;
}

.text-color {
    //font-weight: bold;
    color: white;
}