// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/



:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //verde hoja
  --ion-color-hoja: #4da014;
  --ion-color-hoja-rgb: 77,160,20;
  --ion-color-hoja-contrast: #ffffff;
  --ion-color-hoja-contrast-rgb: 255,255,255;
  --ion-color-hoja-shade: #448d12;
  --ion-color-hoja-tint: #5faa2c;

  //verde oscuro
  --ion-color-hojaD: #31680d;
  --ion-color-hojaD-rgb: 77,160,20;
  --ion-color-hojaD-contrast: #ffffff;
  --ion-color-hojaD-contrast-rgb: 255,255,255;
  --ion-color-hojaD-shade: #448d12;
  --ion-color-hojaD-tint: #5faa2c;

  //azul-obscuro
  --ion-color-azulD: #13326b;
  --ion-color-azulD-rgb: 0,53,153;
  --ion-color-azulD-contrast: #ffffff;
  --ion-color-azulD-contrast-rgb: 255,255,255;
  --ion-color-azulD-shade: #002f87;
  --ion-color-azulD-tint: #1a49a3;

  //color hueso
  --ion-color-hueso: #d2ffce;
  --ion-color-hueso-rgb: 232,255,230;
  --ion-color-hueso-contrast: #000000;
  --ion-color-hueso-contrast-rgb: 0,0,0;
  --ion-color-hueso-shade: #cce0ca;
  --ion-color-hueso-tint: #eaffe9;
  
  //color verde-amarillo 
  --ion-color-hojaY: #6bbb00;
  --ion-color-hojaY-rgb: 107,187,0;
  --ion-color-hojaY-contrast: #000000;
  --ion-color-hojaY-contrast-rgb: 0,0,0;
  --ion-color-hojaY-shade: #5ea500;
  --ion-color-hojaY-tint: #7ac21a;
}

.ion-color-hoja {
  --ion-color-base: var(--ion-color-hoja) !important;
  --ion-color-base-rgb: var(--ion-color-hoja-rgb) !important;
  --ion-color-contrast: var(--ion-color-hoja-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-hoja-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-hoja-shade) !important;
  --ion-color-tint: var(--ion-color-hoja-tint) !important;
}

.ion-color-hojaY {
  --ion-color-base: var(--ion-color-hojaY) !important;
  --ion-color-base-rgb: var(--ion-color-hojaY-rgb) !important;
  --ion-color-contrast: var(--ion-color-hojaY-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-hojaY-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-hojaY-shade) !important;
  --ion-color-tint: var(--ion-color-hojaY-tint) !important;
}

.ion-color-hojaD {
  --ion-color-base: var(--ion-color-hojaD) !important;
  --ion-color-base-rgb: var(--ion-color-hojaD-rgb) !important;
  --ion-color-contrast: var(--ion-color-hojaD-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-hojaD-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-hojaD-shade) !important;
  --ion-color-tint: var(--ion-color-hojaD-tint) !important;
}

.ion-color-azulD {
  --ion-color-base: var(--ion-color-azulD) !important;
  --ion-color-base-rgb: var(--ion-color-azulD-rgb) !important;
  --ion-color-contrast: var(--ion-color-azulD-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-azulD-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-azulD-shade) !important;
  --ion-color-tint: var(--ion-color-azulD-tint) !important;
}

.ion-color-hueso {
  --ion-color-base: var(--ion-color-hueso) !important;
  --ion-color-base-rgb: var(--ion-color-hueso-rgb) !important;
  --ion-color-contrast: var(--ion-color-hueso-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-hueso-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-hueso-shade) !important;
  --ion-color-tint: var(--ion-color-hueso-tint) !important;
}