ion-textarea {
    --background: #fff;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

.bg-color {
    --ion-text-color: #fff;
    //--ion-background-color: url('/assets/flores.png') bottom ;
}

.text-center {
    text-align: right;
    font-family: Agency FB;
    font-size: 30px;
}

.ion-content {
    --ion-text-color: black;
}