<ion-header mode="md" no-border class="bg-color">
  <ion-toolbar color="hojaD" mode="md">

    <ion-buttons slot="start">
      <ion-back-button  mode="md" defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
          <ion-icon color="light" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-textarea auto-grow="true" (input)="noteChanged()" [(ngModel)]="note.content" placeholder="Ingresa el texto"></ion-textarea>
</ion-content>