<app-header mode="md" titulo="Programa"></app-header>

<ion-content class="bg-programa" padding> 
   <ion-card>
       <ion-card-header class="c-header" color="hoja">10 / Septiembre / 2019</ion-card-header>
            <ion-item>
                Conferencia 1
                <ion-button shape="round" color="hojaD" slot="end">
                    <ion-label>Detalles</ion-label>
                </ion-button>
            </ion-item>

            <ion-item>
                Conferencia 2
                <ion-button shape="round" color="hojaD" slot="end">
                        <ion-label>Detalles</ion-label>
                    </ion-button>
            </ion-item>

            <ion-item >
                Conferencia 3
                <ion-button shape="round" color="hojaD" slot="end">
                        <ion-label>Detalles</ion-label>
                    </ion-button>
            </ion-item>
   </ion-card>

   <ion-card>
        <ion-card-header class="c-header" color="hoja">11 / Septiembre / 2019</ion-card-header>
             <ion-item>
                 Conferencia 1
                 <ion-button shape="round" color="hojaD" slot="end">
                     <ion-label>Detalles</ion-label>
                 </ion-button>
             </ion-item>
 
             <ion-item>
                 Conferencia 2
                 <ion-button shape="round" color="hojaD" slot="end">
                         <ion-label>Detalles</ion-label>
                     </ion-button>
             </ion-item>
 
             <ion-item>
                 Conferencia 3
                 <ion-button shape="round" color="hojaD" slot="end">
                         <ion-label>Detalles</ion-label>
                     </ion-button>
             </ion-item>
    </ion-card>

    <ion-card>
            <ion-card-header class="c-header" color="hoja">12 / Septiembre / 2019</ion-card-header>
                 <ion-item>
                     Conferencia 1
                     <ion-button shape="round" color="hojaD" slot="end">
                         <ion-label>Detalles</ion-label>
                     </ion-button>
                 </ion-item>
     
                 <ion-item>
                     Conferencia 2
                     <ion-button shape="round" color="hojaD" slot="end">
                             <ion-label>Detalles</ion-label>
                         </ion-button>
                 </ion-item>
     
                 <ion-item>
                     Conferencia 3
                     <ion-button shape="round" color="hojaD" slot="end">
                             <ion-label>Detalles</ion-label>
                         </ion-button>
                 </ion-item>
        </ion-card>
    

</ion-content>
