.bg-programa {
    --background: url('/assets/flores-cut.png') center;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #31680d;
}

.c-header {
    opacity: 0.9;
    color: white;
}