<ion-header mode="md" no-border class="bg-color">
    <ion-toolbar color="hojaD" mode="md">
  
      <ion-buttons slot="start">
        <ion-back-button  mode="md" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title class="text-center" text-capitalize>Notas</ion-title>
    
      <ion-buttons slot="end">
        <ion-button (click)="addNote()">
          <ion-icon color="light" mode="md" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content class="bg-content">
    <ion-list>
        <ion-item  button detail *ngFor="let note of notesService.notes" [routerLink]="'/notes/' + note.id" routerDirection="forward">
          <ion-label class="text-left">{{ note.title }}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
