.bg-color {
    --ion-text-color: #fff;
    --ion-background-color: url('/assets/flores.png') bottom ;
}

.bg-content {
    --ion-background-color: url('/assets/pattern.png');
    
}

.text-center {
    text-align: right;
    font-family: Agency FB;
    font-size: 30px;
}

.text-left {
    text-align: left;
    font-family: Agency FB;
    font-size: 30px;
}

ion-item {
    --ion-background-color: #3f7c15;
    color: white;
    width: 80%;
    margin: 15px auto;
    //font-weight: ;
    border-radius: 20px;
    --border-radius: 20px;
    --box-shadow: black;
    opacity: 0.7;
  }